export(bmrm)
export(costMatrix)
export(fbetaLoss)
export(hingeLoss)
export(mlsRegressionLoss)
export(ordinalRegressionLoss)
export(quantileRegressionLoss)
export(rocLoss)
export(softMarginVectorLoss)
